h1 {
  color: #4d4d4d;
}

.labels-container {
  display: flex;
  flex-direction: row;
}

.label-badge {
  border: 1px solid #4d4d4d;
  border-radius: 4px;
  padding: 0;
  margin-right: 1em;
}

.label-badge p {
  margin: 0.5em;
}

.issue-body {
  padding: 0.5em;
  margin-right: 1em;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
}

.issue-body > span > p > code {
  color: rgb(184, 68, 87);
  background: rgb(210, 210, 210);
}

.issue-body > span > pre {
  /* color: rgb(111, 59, 68); */
  padding: 0.3em;
  margin: 0 1em 0 1em;
  background: rgb(215, 227, 232);
}

.issue-body > span > pre > code {
  color: rgb(45, 65, 75);
}