.results-selector {
  width: 38%;
  height: 100vh;
  overflow: scroll;
}

.issue-title-card {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0.5em 0 0.5em 0;
  border-bottom: 1px solid rgb(206, 206, 206);
  border-right: 1px solid rgb(206, 206, 206);
}

.issue-title-card p {
  color: rgb(69, 69, 69);
  margin: 0 0 0 0.5em;
}